{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    <h2 style="text-align: justify; color: blue; margin-left: 500px">Създаване на акаунт</h2>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" style="margin-left: 500px">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name(placeholder="Име",
                              style='width: 25%;
                              font-weight: normal;
                              padding: 12px 20px ;
                              margin: 8px 0;
                              margin-left: 500px;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box') }}


            {{ form.last_name(placeholder="Фамилия",
                              style='width: 25%;
                              font-weight: normal;
                              padding: 12px 20px ;
                              margin: 8px 0;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box') }}
        </div>
    <br>
            <div>
                {{ form.username(placeholder="Потребителско име",
                              style='width: 50%;
                              font-weight: normal;
                              padding: 12px 20px ;
                              margin: 8px 0;
                              margin-left: 500px;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box') }}
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <br>
            <div>
                {{ form.email(placeholder="Имейл",
                              style='width: 50%;
                              font-weight: normal;
                              padding: 12px 20px ;
                              margin: 8px 0;
                              margin-left: 500px;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box') }}
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <br>
            <div>
                {{ form.password1(placeholder="Парола",
                              style='width: 50%;
                              font-weight: normal;
                              padding: 12px 20px ;
                              margin: 8px 0;
                              margin-left: 500px;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box') }}
                {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <br>
            <div>
                {{ form.password2(placeholder="Потвърди парола",
                                  style='width: 50%;
                                  font-weight: normal;
                                  padding: 12px 20px ;
                                  margin: 8px 0;
                                  margin-left: 500px;
                                  border: 1px solid #ccc;
                                  border-radius: 4px;
                                  box-sizing: border-box') }}
                {% for error in form.password2.errors %}
                    <p class="notification is-danger" style="margin-left: 500px">{{ error }}</p>
                {% endfor %}
            </div>
            <br>
            <div>{{ form.submit(
                              style ='background-color: blue;
                              color: white;
                              width: 10%;
                              padding: 14px 20px;
                              margin: 8px 0;
                              margin-left: 500px;
                              border: none;
                              border-radius: 4px') }}
            </div>
    </form>
    <p></p>
    <h3 style="color: blue; margin-left:500px;"><a href="{{ url_for('login') }}">Ако вече имаш акаунт</a></h3>
{% endblock %}
</body>
</html>