{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    <h2 style="text-align: justify; color: blue; margin-left: 500px">Редактиране на акаунт</h2>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Към <a href="{{ url_for('login') }}">ВХОД</a>.
            </div>
        {% endif %}
    {% endwith %}

    {% if id == current_user.id %}

    <form action="/update/{{ name_to_update.id }}" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name.label(class="form-label", style="margin-left: 500px") }}

            {{ form.first_name(class="form-control", value=name_to_update.first_name,
              style='width: 25%;
              font-weight: normal;
              padding: 12px 20px ;
              margin: 8px 0;
              margin-left: 500px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box') }}

            {{ form.last_name.label(class="form-label", style="margin-left: 500px") }}
            {{ form.last_name(class="form-control", value=name_to_update.last_name,
              style='width: 25%;
              font-weight: normal;
              padding: 12px 20px ;
              margin: 8px 0;
              margin-left: 500px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box') }}
        </div>
        <br>
        <div>
            {{ form.username(class="form-control", value=name_to_update.username,
              style='width: 25%;
              font-weight: normal;
              padding: 12px 20px ;
              margin: 8px 0;
              margin-left: 500px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box') }}
            {% for error in form.username.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
            <br>
            <div>
                {{ form.email(class="form-control", value=name_to_update.email,
                  style='width: 25%;
                  font-weight: normal;
                  padding: 12px 20px ;
                  margin: 8px 0;
                  margin-left: 500px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box') }}
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <br>
            <div>{{ form.submit(
                  style ='background-color: #4CAF50;
                  color: white;
                  width: 10%;
                  padding: 14px 20px;
                  margin: 8px 0;
                  margin-left: 500px;
                  border: none;
                  border-radius: 4px') }}
            </div>
    </form>
    <p><a href="{{ url_for("profile") }}" class="btn btn-secondary btn-sm" style="margin-left: 500px">Назад</a></p>
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
	        Sorry! You Can't Edit This User...
	        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    </div>

	    <h2>Access Denied!</h2>
	    <p>Sorry, you cannot access this user profile...</p>
    {% endif %}
{% endblock %}
</body>
</html>