<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Потребители{% endblock %}</title>
</head>
<body>
{% block content %}
    {% for item in values %}
        <div class="card">
          <div class="card-header">
            {{ item.first_name }} {{ item.last_name }}
          </div>
          <div class="card-body">
{#            <h5 class="card-title">Администраторски панел</h5>#}
            <p class="card-text">
                <strong>Име: </strong>{{ item.first_name }}<br/>
                <strong>Фамилия: </strong>{{ item.last_name }}<br/>
                <strong>Потребителско име: </strong>{{ item.username }}<br/>
                <strong>Потребителски номер: </strong>{{ item.id }}<br/>
                <strong>Имейл: </strong>{{ item.email }}<br/>
                <strong>Дата на регистрация: </strong>{{ item.joined_at }}<br/>
            </p>
              <a href="{{ url_for("update", id=item.id) }}" class="btn btn-primary btn-sm">Редактиране</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>
